<HouseParty
  ourFriends={[
   {name: "electrode", img: "//goo.gl/I9utJF", size: 12},
   {name: "node", img: "//goo.gl/hxmCEE", size: 12},
   {name: "React", img: "//goo.gl/xwbqlB", size: 12},
  ]}

  invitees={[
   {name: "electrode", invited: false},
   {name: "node", invited: false},
   {name: "React", invited: false}
  ]}

  toggleGuest={(invitee) => alert('Edit invitees array in playground to invite a guest!')}

  message={(c)=>(

  <div className={c}>Change key 'invited' to true in 'invitees' array in the playground
  above to invite guests!</div>

  )}
  />
